{%extends 'base.html' %}

{%block conteudo %}
    <form name="form" id="form" action="{% url 'buscausuario' %}" method="GET">
        {% csrf_token %}
        {{ form.as_p }}
        <input type="submit" class="btn btn-success" value="Buscar">
    </form>
    <div class="col-8 m-auto pt-2 text-center">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nome Entidade</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody id="empresalist">
                {% for dbs in db %}
                    <tr>
                        <th scope="row">{{ dbs.user}}</th>
                        <td>{{ dbs.escolha }}</td>
                        {% if dbs.liberado == False %}
                            <td>Não Liberado</td>
                        {%else%}
                            <td>Liberado</td>
                        {%endif%}
                        
                        <td>
                            <a href="/visualizarentidade/{{ dbs.id }}/" class="btn btn-dark">Visualizar</a>
                            <a href="/editarentidade/{{ dbs.id }}/" class="btn btn-primary">Editar</a>
                            <a href="/deletarentidade/{{ dbs.id }}/" class="btn btn-danger btnDel">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if db.has_previous %}
                <a href="?page={{ db.previous_page_number }}"> < </a>
            {% endif %}
            {{ db.number }}
            {% if db.has_next %}
                <a href="?page={{ db.next_page_number }}"> > </a>
            {% endif %}
        </div>
    </div>
{%endblock%}
