{%extends 'base.html' %}

{%block conteudo %}
    
    <div class="col-8 m-auto pt-2 text-center">
        <form name="form" id="form" action="{% url 'buscaempresa' %}" method="GET" style="display:flex; align-items:center; justify-content: center;margin-top:20px;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Buscar" style="margin-bottom:20px; margin-left:3px; " >
        </form>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Id</th>
                <th scope="col">Empresa</th>
                <th scope="col">CPF/CNPJ</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody id="empresalist">
                {% for dbs in db %}
                    <tr>
                        <td scope="row">{{ dbs.id }}</td>
                        <td>{{ dbs.razao_social }}</td>
                        {% if dbs.cnpj is not None %}
                            <td>CNPJ: {{ dbs.cnpj }}</td>
                        {% else %}
                            <td>CPF: {{ dbs.cpf }}</td>
                        {% endif %}
                        <td>
                            <a href="/visualizarentidade/{{ dbs.id }}/" class="btn btn-dark">Visualizar</a>
                            <a href="/editarentidade/{{ dbs.id }}/" class="btn btn-primary">Editar</a>
                            <a href="/deletarentidade/{{ dbs.id }}/" class="btn btn-danger btnDel">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if db.has_previous %}
                <a href="?page={{ db.previous_page_number }}"> < </a>
            {% endif %}
            {{ db.number }}
            {% if db.has_next %}
                <a href="?page={{ db.next_page_number }}"> > </a>
            {% endif %}
        </div>
    </div>
{%endblock%}