{%extends 'base.html' %}
{%block titulo%}Cadastro Entidade{%endblock%}
{%block conteudo %}
{% if error_message%}
   <h1>{{error_message}}</h1> 
{%endif%}
<div class="form-entidade">
    <form name="form" id="form" action="{% if db %}/alterarentidade/{{db.id}}/{%else%}criaentidade{%endif%}" method="POST">
        {% csrf_token %}
        <label for="razao_social">Razão Social:</label>
        <input type="text" id="razao_social" name="razao_social" required value="{{ form.razao_social.value }}">
        
        <label for="nome_fantasia">Nome Fantasia:</label>
        <input type="text" id="nome_fantasia" name="nome_fantasia" value="{{ form.nome_fantasia.value }}">
        
        <label for="cnpj">CNPJ:</label>
        <input type="text" id="cnpj" name="cnpj" value="{{ form.cnpj.value }}">
        
        <label for="cpf">CPF:</label>
        <input type="text" id="cpf" name="cpf" value="{{ form.cpf.value }}">
        
        <label for="endereco">Endereço:</label>
        <input type="text" id="endereco" name="endereco" required value="{{ form.endereco.value }}">
        
        <label for="cp">CP:</label>
        <input type="text" id="cp" name="cp" value="{{ form.cp.value }}">
        
        <label for="cnae">CNAE:</label>
        <input type="text" id="cnae" name="cnae" value="{{ form.cnae.value }}">
        
        <label for="usuario">Usuário:</label>
        <input type="text" id="usuario" name="usuario" value="{{ form.usuario.value }}">
        
        <input type="submit" class="btn btn-success" value="Salvar">
    </form>
</div>
{%endblock%}