{%extends 'base.html'%}
{%block titulo%}Visualizar Empresa{%endblock%}
{%block conteudo%}
    <div class="col-8 m-auto pt-2 text-center">
        <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9; width: 500px; margin: 0 auto; text-align: left;">
            <p><b>Razão Social:</b> {{ db.razao_social }}</p>
            {% if db.cnpj %}
                <p><b>Nome Fantasia:</b> {{ db.nome_fantasia }}</p>
                <p><b>CNPJ:</b> {{ db.cnpj }}</p>
            {% else %}
                <p><b>CPF:</b> {{ db.cpf }}</p>
            {% endif %} 
            <p><b>Endereço:</b> {{ db.endereco }}</p>
            <p><b>Carteira Profissional:</b> {{ db.cp }}</p>
            <p><b>CNAE:</b> {{ db.cnae }}</p>
            <p><b>Usuário Ligado:</b> {{ db.usuario }}</p>
        </div>
        
        
        <a href="/editarentidade/{{db.id}}/" class="btn btn-primary">Editar</a>
        <a href="/deletarentidade/{{db.id}}/" class="btn btn-danger btnDel">Deletar</a>
    </div>
    <br>
    <div class="col-8 m-auto pt-2 text-center">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Data</Datal></th>
                <th scope="col">Nome Notificacao</th>
                <th scope="col">Ação</th>
              </tr>
            </thead>
            <tbody id="empresalist">
                {% for dbs in pn %}
                    <tr>
                        <td>{{dbs.data}}</td>
                        <td>{{ dbs.notif }}</td>
                        <td><a href="/visualizarnotificacao/{{dbs.codigo_verificador}}/" class="btn btn-primary">Visualizar</a></td>
        
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{%endblock%}