<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterando</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-2 text-center">
        <h1>Visualização</h1>
    </div>
    
    <div class="col-8 m-auto pt-2 text-center">
        <a href="{% url 'buscanotificacao' %}" class="btn btn-info">Voltar</a>
    </div>


    <div class="col-8 m-auto pt-2 text-center">
        
       Código Verificador: {{db.codigo_verificador}} <br>
       Notificação: {{db.notif}} <br>
        Data: {{db.data}} <br>
        Motivo: {{db.motivo}} <br>
        Regularidade: {{db.regularidade}} <br>
       Prazo: {{db.prazo}} <br>
        Fiscal: {{db.fiscal}} <br>
         Entidade: {{db.entidade}} <br>

        
        <a href="/editarnotificacao/{{db.codigo_verificador}}/" class="btn btn-primary">Editar</a>
        {%if db.regularidade == False%}
         <a href="/regularizar/{{db.codigo_verificador}}/" class="btn btn-danger btnDel">Regularizar</a>
        {%endif%}
        <a href="/generate_pdf/{{db.codigo_verificador}}/" class="btn btn-primary">gerar</a>
       
        </div>

        <br>
        <h1>ARQUIVOS RELACIONADOS</h1>
        <div class="col-8 m-auto pt-2 text-center">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">Nome</th>
                    <th scope="col">Download</th>
                  </tr>
                </thead>
                <tbody id="empresalist">
                    {% for dbs in ar %}
                        <tr>
                            <th scope="row">{{ dbs.nome_arquivo}}</th>
                            <td><a href="/download_arquivo/{{dbs.id}}">Download</a></td>
                            
            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <br>
        <h1>PARECERES</h1>
        <div class="col-8 m-auto pt-2 text-center">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome Entidade</th>
                  </tr>
                </thead>
                <tbody id="empresalist">
                    {% for dbs in pn %}
                        <tr>
                            <th scope="row">{{ dbs.id}}</th>
                            <td>{{ dbs.parecer }}</td>
                            
            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
       

</body>
</html>