<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alterando</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
    <div class="col-8 m-auto pt-2 text-center">
        <h1>Visualização</h1>
    </div>
    
    <div class="col-8 m-auto pt-2 text-center">
        <a href="{% url 'buscaempresa' %}" class="btn btn-info">Voltar</a>
    </div>


    <div class="col-8 m-auto pt-2 text-center">
       Código Verificador: {{db.codigo_verificador}} <br>
       Notificação: {{db.notif}} <br>
        Data: {{db.data}} <br>
        Motivo: {{db.motivo}} <br>
        Regularidade: {{db.regularidade}} <br>
       Prazo: {{db.prazo}} <br>
        Fiscal: {{db.fiscal}} <br>
         Entidade: {{db.entidade}} <br>

        
        <a href="/editarentidade/{{db.id}}/" class="btn btn-primary">Editar</a>
        <a href="/deletarentidade/{{db.id}}/" class="btn btn-danger btnDel">Deletar</a>


        <div class="col-8 m-auto pt-2 text-center">
            <table class="table table-striped">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nome Entidade</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody id="empresalist">
                    {% for dbs in pn %}
                        <tr>
                            <th scope="row">{{ dbs.id}}</th>
                            <td>{{ dbs.parecer }}</td>
                            
            
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
       
    </div>
     
</body>
</html>