{% extends 'base.html' %}
{%block titulo%}Visualizar Notificação{%endblock%}
{% block conteudo %}
    <div class="col-8 m-auto pt-2 text-center page_visu_notif">
        <div class="card" style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9; width: 500px; margin: 0 auto; text-align: left;">
            <h1>Dados da Notificação</h1>
            <div class="notification-details">
                <p><strong>Código Verificador:</strong> {{ db.codigo_verificador }}</p>
                <p><strong>Notificação:</strong> {{ db.notif }}</p>
                <p><strong>Data:</strong> {{ db.data }}</p>
                <p><strong>Motivo:</strong> {{ db.motivo }}</p>
                <p><strong>Regularidade:</strong> {{ db.regularidade }}</p>
                <p><strong>Prazo:</strong> {{ db.prazo }}</p>
                <p><strong>Fiscal:</strong> {{ db.fiscal }}</p>
                <p><strong>Entidade:</strong> {{ db.entidade }}</p>
            </div>
            {%if user.is_staff%}
                <a href="/editarnotificacao/{{ db.codigo_verificador }}/" class="btn btn-primary">Editar</a>
                {% if not db.regularidade %}
                    <a href="/regularizar/{{ db.codigo_verificador }}/" class="btn btn-danger btnDel">Regularizar</a>
                {% endif %}
                {%if not db.entidade %}
                <a href="/generate_pdf/{{ db.codigo_verificador }}/" class="btn btn-primary">Gerar PDF</a>
                {%endif%}
            {%endif%}
        </div>

        <div class="section">
            <h1>Arquivos Relacionados</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Nome</th>
                        <th scope="col">Download</th>
                    </tr>
                </thead>
                <tbody>
                    {% for arquivo in ar %}
                        <tr>
                            <td>{{ arquivo.nome_arquivo }}</td>
                            <td><a href="/download_arquivo/{{ arquivo.id }}">Download</a></td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="section">
            <h1>Pareceres</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Parecer</th>
                    </tr>
                </thead>
                <tbody>
                    {% for parecer in pn %}
                        <tr>
                            <td>{{ parecer.id }}</td>
                            <td>{{ parecer.parecer }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
