{%extends 'base.html' %}
{%block titulo%}Busca Usuário{%endblock%}
{%block conteudo %}
   
    <div class="col-8 m-auto pt-2 text-center">
        <form name="form" id="form" action="{% url 'buscausuario' %}" method="GET" style="display:flex; align-items:center; justify-content: center;margin-top:20px;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Buscar"  style="margin-bottom:20px; margin-left:3px">
        </form>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Usuário</th>
                <th scope="col">Tipo</th>
                <th scope="Col'">Empresa Ligada</th>
                <th scope="col">Liberação</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody id="empresalist">
                {% for dbs in db %}
                    <tr>
                        <th scope="row">{{ dbs.username}}</th>
                        {%if dbs.is_superuser is True%}
                            <td>Admin</td>
                        {%elif dbs.is_staff is True%}
                            <td>Fiscal</td>
                        {%else%}
                            <td>Usuário</td>
                        {%endif%}
                        <td>{{dbs.entidade}}</td>
                        {% if dbs.is_active == False %}
                            <td>Não Liberado</td>
                        {%else%}
                            <td>Liberado</td>
                        {%endif%}
                        
                        <td>
                            <a href="/paginausuario/{{ dbs.id }}/?action=view" class="btn btn-dark">Visualizar</a>
                            <a href="/paginausuario/{{ dbs.id }}/?action=delete" class="btn btn-danger btnDel">Deletar</a>
                           

                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if db.has_previous %}
                <a href="?page={{ db.previous_page_number }}"> < </a>
            {% endif %}
            {{ db.number }}
            {% if db.has_next %}
                <a href="?page={{ db.next_page_number }}"> > </a>
            {% endif %}
        </div>
    </div>
{%endblock%}
