{%extends 'base.html' %}
{%block titulo%}Busca Liberação{%endblock%}
{%block conteudo %}
   
    <div class="col-8 m-auto pt-2 text-center">
        <form name="form" id="form" action="{% url 'buscausuario' %}" method="GET" style="display:flex; align-items:center; justify-content: center;margin-top:20px;">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-success" value="Buscar"  style="margin-bottom:20px; margin-left:3px">
        </form>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">Email/Usuário</th>
                <th scope="col">CNPJ/CPF</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody id="empresalist">
                {% for dbs in db %}
                    <tr>
                        <th scope="row">{{ dbs.email}}</th>
                    
                         <td>{{dbs.chave}}</td>
                  
                        <td>{{dbs.data_criacao}}</td>
                    
                        <td>
                             <a href="/listaliberacao/{{ dbs.email }}/?action=liberar&{{dbs.chave}}" class="btn btn-primary">Liberar</a>
                        </td>
                        
                        <td>
                            <a href="/listaliberacao/{{ dbs.email }}/?action=deletar" class="btn btn-primary">Deletar</a>
                       </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            {% if db.has_previous %}
                <a href="?page={{ db.previous_page_number }}"> < </a>
            {% endif %}
            {{ db.number }}
            {% if db.has_next %}
                <a href="?page={{ db.next_page_number }}"> > </a>
            {% endif %}
        </div>
    </div>
{%endblock%}
