{%extends 'base.html'%}
{%block titulo%}Visualizar Usuário{%endblock%}
{%if action == 'view'%}
    {%block conteudo%}
   
        <div class="col-8 m-auto pt-2 text-center page_visu_notif">
            <div class="card" style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9; width: 500px; margin: 0 auto; text-align: left;">
                <h1>Dados do Usuário</h1>
                <div class="notification-details">
                    <p><strong>Usuário:</strong> {{ db.username }}</p>
                    {%if db.liberado == False %}
                     <p><strong>Liberado:</strong>Não Liberado</p>
                    {%else%}
                        <p><strong>Liberado:</strong>Liberado</p>
                    {%endif%}
                    <p><strong>Empresa:</strong>{{et.razao_social}}</p>
                </div>
             
                <a href="/paginausuario/{{ db.id }}/?action=delete" class="btn btn-danger btnDel">Deletar</a>
            </div>
    
           
            
    {%endblock%}
{%endif%}
