{%extends 'base.html' %}
{%block titulo%}Upload Arquivo{%endblock%}
{%block conteudo %}
<div class="col-8 m-auto pt-2 text-center" style="margin-top:50px">
    <div style="font-family: Arial, sans-serif; font-size: 16px; line-height: 1.6; padding: 20px; border: 1px solid #ccc; border-radius: 5px; background-color: #f9f9f9; width: 500px; margin: 0 auto; text-align: left;">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ f.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
</div>
{%endblock%}